<script>
    $(document).ready(function () {
        new SystemTools().GetFavorites();
    });
</script>  
<!--.......................favourite panel....................-->
<a id="left-panel-link" href="#left-panel" class="favourite_icon"></a>

<!-- Left panel -->

<div id="left-panel" class="panel">
    <button id="close-panel-bt"></button>
    <h2 class="text-center h2_favouite">قائمة الشاشات المفضلة</h2>
    <div style="height:30px;"></div>
    <div class="content content-9" style="height:400px;">

        <ul class="mcd-menu" id="favourite_div">
            <li>
                <a href="">
                    <strong>الشاشة الاولى</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">   
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">   
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
            <li>
                <a href="" class="active">   
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>  
            <li>
                <a href="" class="active">
                    <strong>الشاشة الثانية</strong>
                    <small>19/5/2014</small>
                </a>
            </li>
        </ul>
    </div>
</div>
