<a href="#" class="aside_icon" data-slidepanel="panel" style="display: block;"></a>

<!--.......................add panel....................-->

<div id="slidepanel" class="cb_slide_panel panel_right">
    <div class="wrapper">
        <a href="#" class="close" style="opacity:1;"></a>
        <h2 class="text-center h2_favouite" style="margin-top:15px;">قائمة الاضافات</h2>
        <!-- content -->

        <div style="height:35px;"></div>
        <div class="content content-9" style="height:300px;">

            <div class="form-horizontal">



                <div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div><div class="form-group">
                    <label for="inputPassword" class=" col-sm-5 control-label text-left" style="color:#fff;">المسمى العربى</label>
                    <div class=" col-sm-7">
                        <input type="password" class="form-control input-sm" id="inputPassword">
                    </div>
                </div>










            </div>
        </div>
    </div>
</div>

