@using PMS.WebUI.Resources



<div class="clear"></div>
<label for="rpTitle" style="display:none" id="rpTitle" langRef="Rep_AttendanceAndLeaveS">@SystemResource.ProjItemsInventory</label>
<div class="row">
    <div class="clear"></div>
    <div class="col-xs-12 dir" id="effects">
        <div style="height:5px"></div>
        <div class="clear"></div>
        <form class="col-xs-12">
            <div class="col-xs-12">




                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="red11 col-sm-2 col-xs-12 control-label text-right">@SystemResource.Fld_FromDate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="date" class="form-control input-sm" id="FromDate" name="FromDate">
                        </div>
                        <label class=" col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Fld_ToDate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="date" class="form-control input-sm" id="ToDate" name="ToDate">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12">
                
                


                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Eng_Fld_projectexpproject</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="hidden" class="form-control input-sm" name="txtProjectID" id="txtProjectID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtProjectRP" name="txtProjectRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnProjectRP" name="btnProjectRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:50%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtProject1RP">
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div> 
<script src="~/ClientApp/Components/Sales/04_Reports/ProjItemsInventory.js"></script>