@using PMS.WebUI.Resources
<div class="row">
	<div class="clear"></div>
	<div class="col-xs-12 dir" id="effects">


		<div style="height:5px"></div>
		<div class="clear"></div>
		<form>
			<div class="col-xs-12">

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtEngCode" class="col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Fld_FromDate </label>
						<div class="col-md-2 col-sm-4 col-xs-5">
							<input type="date" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>
						<label for="txtEngCode" class="col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Fld_ToDate </label>
						<div class="col-md-2 col-sm-4 col-xs-5" style="width: 173px;">
							<input type="date" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtEngCode" class="col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Eng_Res_projectexpProject </label>
						<div class="col-md-1 col-sm-4 col-xs-5" style="width: 119px;">
							<input type="text" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>
						<div class="info-btn col-md-1" style="width: 54px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butProj_Code" name="butProj_Code">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-5">
							<input type="text" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>

						<div class="col-md-2" style="width: 105px;">
							<label>Progress</label>
							<input type="radio" checked name="progress" class="progress_input" />
						</div>
						<div class="col-md-2" style="width: 138px;">
							<label>Progress Price</label>
							<input type="radio" name="progress" class="progress_input" />
						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtEngCode" class="col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Eng_Res_projectexpPhase </label>
						<div class="col-md-1 col-sm-4 col-xs-5" style="width: 119px;">
							<input type="text" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>
						<div class="info-btn col-md-1" style="width: 54px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butProj_Code" name="butProj_Code">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-5">
							<input type="text" class="form-control input-sm addable editable" style="width:;" name="EngCode" id="txtEngCode">
						</div>

						<div class="col-md-2" style="width: 119px;">
							<label>By Activity</label>
							<input type="radio" checked name="item" class="progress_input" />
						</div>
						<div class="col-md-2" style="width: 101px;">
							<label>By Item</label>
							<input type="radio" name="item" class="progress_input" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div>
		<table></table>
	</div>
</div>
