@using PMS.WebUI.Resources;
@{
    ViewBag.ScreenKey = "EquipmentCategoryIndex";
    ViewBag.Title = SystemResource.Men_EquipmentCategory;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 color1">
        @Html.ControlsButtons()
    </div>
    <div class="clear"></div>

    <div class="dir col-xs-12 equipmentcategory">

        <div class="clear"></div>
        <style>
            .equipmentcategory #grid {
                height: 250px !important;
            }

            .equipmentcategory .jsgrid-grid-body {
                height: 521px !important;
                max-height: 534px !important;
            }
        </style>
        <table id="Grid">

        </table>
    </div>

    <script src="~/ClientApp/JsGrid.js"></script>
    @*@Html.Partial("../Partial/Navigator")*@
    <script src="~/ClientApp/Components/Definitions/03_SubEquipToolsDefinition/EquipmentCategory.js"></script>

</div>

